@import "../vendor/bulma/sass/base/_all";
@import "../vendor/bulma/sass/utilities/_all";
@import "../vendor/bulma/sass/helpers/color";
@import "../vendor/bulma/sass/components/card";
@import "../vendor/bulma/sass/components/dropdown";
@import "../vendor/bulma/sass/components/navbar";
@import "../vendor/bulma/sass/elements/button";
@import "../vendor/bulma/sass/elements/container";
@import "../vendor/bulma/sass/elements/content";
@import "../vendor/bulma/sass/elements/image";
@import "../vendor/bulma/sass/elements/title";
@import "../vendor/bulma/sass/elements/other";
@import "../vendor/bulma/sass/elements/box";
@import "../vendor/bulma/sass/form/_all";
@import "../vendor/bulma/sass/grid/columns";

@import "../vendor/bulma/sass/helpers/flexbox";
@import "../vendor/bulma/sass/helpers/typography";
@import "../vendor/bulma/sass/helpers/spacing";
@import "../vendor/bulma/sass/layout/_all";

@import "../vendor/bulma-pricingtable/index";

@import "../vendor/prismjs/prism";

@import "fonts";


html {
  height: 100%;
}

body {
  font-family: "Inter", Arial, Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.atlas-nav {
  padding-left: 15px;
}

.atlas-nav img {
  width: 130px !important;
  height: 40px !important;
  margin-top: 6px;
  margin-bottom: -2px;
}

@media screen and (min-width: 1024px) {
  .atlas-nav {
    padding: 15px 0;
  }

  .atlas-nav img {
    width: 182px !important;
    height: 56px !important;
  }
}

a.navbar-item:hover {
  background: transparent;
}

.hero-body {
  background-color: rgba(167, 200, 204, 0.7);
}

.hero-two {
  background-color: rgba(0, 68, 106, 0.08);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

/* fix for prism in bulma */
pre .number {
  background-color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  height: inherit;
  min-width: inherit;
  text-align: inherit;
  vertical-align: inherit;
}

.navbar-item.button {
  margin: 13px;
}

a.discord img {
  width:33px;
  margin-top:3px;
}

a.github img {
  width:25px;
}
