<div class="card block">
    <div class="card-content">
        <p class="title">
            Automation Hub
        </p>
        <div class="block">
            Atlas Automation Hub is a task scheduling tool for getting data from a source and depositing it in a destination - sql servers to SFTP servers.
        </div>
        <div class="block">Tasks can run at any time and on any schedule.</div>
        <div class="block content">
            Possibilities are almost unlimited….
            <ul>
                <li>Run .bat files on windows servers over ssh</li>
                <li>Read, modify and resend files over FPT or SFTP</li>
                <li>ZIP and send data</li>
                <li>Run raw python code to process data and send</li>
                <li>Run code from FTP/SFTP/SAMB or web source</li>
                <li>Send output data embeded or attached to email</li>
                <li>Parameterize sql on the project or task leve</li>
                <li>Parameterize file names with date parameters</li>
                <li>Export data as text, csv, excel, delimited, or as a blob</li>
                <li>Encrypt data before sending</li>
                <li>Pull and send data from FTP/SFTP/SAMB/SSH</li>
                <li>Run SSH commands to monitor remote servers</li>
            </ul>
        </div>
        <a class="button is-info" href="https://demo.extract.management" target="_blank" rel="noopener">
            Try out the demo!
        </button>
    </div>
</div>
