<section class="hero is-medium is-white">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-2 has-text-right mb-5 pb-5 is-flex is-flex-wrap-wrap is-justify-content-space-between" id="automation-hub">
                    <span class="is-flex-shrink-0">{{ automation_hub.name }}</span>
                    <a href="/automation-hub"
                       class="button is-medium is-info is-family-sans-serif">Find out more!</a>
                </h2>
                <div class="columns">
                    <div class="column is-two-fifths is-vcentered">
                        <figure class="image animated" data-animate="fadeInUp">
                            {% image "./src/static/img/automation-hub.png", "atlas home page", "(min-width:800px) 70vw, 100vw" %}
                        </figure>
                    </div>
                    <div class="column has-text-right">
                        <h3 class="subtitle mt-1">{{ automation_hub.short_description }}</h3>
                        <div class="content">
                            <div class="block">{{ automation_hub.description }}</div>
                        </div>
                        <div class="content">
                            <div class="block has-text-grey-dark">{{ automation_hub.long_description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
