<section class="hero is-medium hero-two">
        <div class="hero-body">
            <figure class="image background">
                {% image "./src/static/img/people_together.jpg", "people collaborating", "(min-width:800px) 1200px, 800px" %}
            </figure>
            <div class="container">
                <h2 class="title is-2 has-text-centered mb-5">Join the community!</h2>
                <div class="columns is-centered mt-5">
                    <div class="column is-one-quarter animated" data-animate="slideInLeft">
                        <div class="box bd-notification has-background-white-bis has-text-centered">
                            <span class="icon is-5x has-text-black-ter">
                                <i class="fab fa-5x fa-github"></i>
                            </span>
                            <h4 class="title is-3 my-5">Contribute to the code</h4>
                            <p class="subtitle">
                                Open issues, PRs, request features!
                            </p>
                            <a class="button is-info"
                               href="https://github.com/atlas-bi"
                               target="_blank"
                               rel="noopener">Contribute!</a>
                        </div>
                    </div>
                    <div class="column is-one-quarter animated" data-animate="slideInRight">
                        <div class="box bd-notification has-background-white-bis has-text-centered">
                            <span class="icon is-5x has-text-black-ter">
                                <i class="fab fa-5x fa-discord"></i>
                            </span>
                            <h4 class="title is-3 mt-5">Chat with us</h4>
                            <p class="subtitle">
                                Join us on our chat, ask questions, and get update notifications!
                            </p>
                            <a class="button is-info"
                               href="https://discord.gg/hdz2cpygQD"
                               target="_blank"
                               rel="noopener">Join the chat!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
