<div class="hero-body">
    <div class="container">
        <h2 class="title is-family-sans-serif mb-5 is-1 has-text-weight-medium pb-5">
            how to get <strong class="has-text-weight-normal">Atlas</strong>
        </h2>
        <div class="subtitle">Atlas tools are open source projects and free to use!</div>
        <div class="columns">
            <div class="column animated" data-animate="fadeInUp">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-justify-content-space-between">
                            <span>{{ bi_library.name }}</span><span class="tag is-rounded is-pulled-right is-info is-light">Open Source</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            There are two parts to Atlas - a webapp and an ETL.
                            The ETL process collects the report metadata which is displayed in the webapp.
                            <br />
                            <br />
                            Atlas is most easily installed on an
                            <a href="/docs/bi-library/webserver-setup/">IIS windows server</a>
                            .
                            <br />
                            <br />
                            The ETL is most easily installed on a
                            <a href="/docs/bi-library/etl/ssis-etls/">Microsoft SQL Server</a>
                            .
                            <br />
                            <br />
                            There is a community of Atlas users who can
                            <a href="/help">help</a>
                            you get started!
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                <strong>
                                    <a href="https://github.com/atlas-bi/atlas-bi-library">BI Library</a>
                                </strong>
                                Download
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                <strong>
                                    <a href="https://github.com/atlas-bi/atlas-bi-library-etl">ETL</a>
                                </strong>
                                Download
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                Read the
                                <strong>
                                    <a href="/docs/bi-library/">docs</a>
                                </strong>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column animated" data-animate="fadeInUp">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-justify-content-space-between">
                            {{ automation_hub.name }}<span class="tag is-rounded is-pulled-right is-info is-light">Open Source</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <br />
                            Atlas Hub is easy to install on
                            <a href="/docs/automation-hub/install/">Ubuntu server</a>
                            .
                            <br />
                            {% highlight "shell" %}
                            curl -s "https://packages.atlas.bi/scripts/deb.sh" | sudo bash -
                            export EXTERNAL_URL='https://atlas-hub.me.com'; sudo apt install atlas-hub
                        {% endhighlight %}
                    </div>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            Download the
                            <strong>
                                <a href="https://github.com/atlas-bi/atlas-automation-hub">Code</a>
                            </strong>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span>
                            Read the
                            <strong>
                                <a href="/docs/automation-hub/">docs</a>
                            </strong>
                        </span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
