<h3 class="title is-3">What other tools are available?</h3>
<div class="pricing-table is-comparative pb-3">
    <div class="pricing-plan is-features">
        <div class="plan-header">Features</div>
        <div class="plan-items">
            <div class="plan-item">Open Source</div>
            <div class="plan-item">Search</div>
            <div class="plan-item">Report Documentation</div>
            <div class="plan-item">Auto-load Metadata via ETL</div>
            <div class="plan-item">Certification Tags</div>
            <div class="plan-item">Favorite Reports</div>
            <div class="plan-item">Share Reports</div>
            <div class="plan-item">Report Usage Metrics</div>
            <div class="plan-item">Report Collections</div>
            <div class="plan-item">Report Relationship ETL</div>
            <div class="plan-item">Report Source Code ETL</div>
            <div class="plan-item">Term Glossary</div>
            <div class="plan-item">User Profiles</div>
            <div class="plan-item">Maintenance Schedule</div>
            <div class="plan-group">Integrations</div>
            <div class="plan-item">Tableau Integration</div>
            <div class="plan-item">Microsoft SSRS</div>
            <div class="plan-item">SAP Crystal</div>
            <div class="plan-item">PowerBI</div>
            <div class="plan-item">Dashboards</div>
            <div class="plan-item">Components</div>
            <div class="plan-item">Workbench Reports</div>
            <div class="plan-item">SlicerDicer</div>
            <div class="plan-item">Usage Metrics</div>
        </div>
        <div class="plan-footer"></div>
    </div>
    <div class="pricing-plan is-warning is-flex-widescreen">
        <div class="plan-header">
            SAP Analytic Hub
        </div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Open Source">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Search">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Documentation">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Auto-load Metadata via ETL">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Certification Tags">
                -
            </div>
            <div class="plan-item" data-feature="Favorite Reports">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Share Reports">
                -
            </div>
            <div class="plan-item" data-feature="Report Usage Metrics">
                -
            </div>
            <div class="plan-item" data-feature="Report Collections">
                -
            </div>
            <div class="plan-item" data-feature="Report Relationship ETL">
                -
            </div>
            <div class="plan-item" data-feature="Report Source Code ETL">
                -
            </div>
            <div class="plan-item" data-feature="Term Glossary">
                -
            </div>
            <div class="plan-item" data-feature="User Profiles">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Maintenance Schedule">
                -
            </div>
            <div class="plan-group" data-group="Integrations">
                &nbsp;
            </div>
            <div class="plan-item" data-feature="Tableau Integration">
                -
            </div>
            <div class="plan-item" data-feature="Microsoft SSRS">
                -
            </div>
            <div class="plan-item" data-feature="SAP Crystal">
                -
            </div>
            <div class="plan-item" data-feature="PowerBI">
                -
            </div>
            <div class="plan-item" data-feature="Dashboards">
                -
            </div>
            <div class="plan-item" data-feature="Components">
                -
            </div>
            <div class="plan-item" data-feature="Workbench Reports">
                -
            </div>
            <div class="plan-item" data-feature="SlicerDicer">
                -
            </div>
            <div class="plan-item" data-feature="Usage Metrics">
                -
            </div>
        </div>
        <div class="plan-footer">
            <a class="button is-fullwidth"
               href="https://help.sap.com/viewer/product/SAP_Analytics_Hub/1.0/en-US"
               target="_blank"
               rel="noopener">
                Open Docs
            </a>
        </div>
    </div>
    <div class="pricing-plan is-warning is-hidden-widescreen">
        <div class="plan-header">
            Other Tools
        </div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Open Source">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Search">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Documentation">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Auto-load Metadata via ETL">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Certification Tags">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Favorite Reports">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Share Reports">
                -
            </div>
            <div class="plan-item" data-feature="Report Usage Metrics">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Collections">
                -
            </div>
            <div class="plan-item" data-feature="Report Relationship ETL">
                -
            </div>
            <div class="plan-item" data-feature="Report Source Code ETL">
                -
            </div>
            <div class="plan-item" data-feature="Term Glossary">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="User Profiles">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Maintenance Schedule">
                -
            </div>
            <div class="plan-group" data-group="Integrations">
                &nbsp;
            </div>
            <div class="plan-item" data-feature="Tableau Integration">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Microsoft SSRS">
                -
            </div>
            <div class="plan-item" data-feature="SAP Crystal">
                -
            </div>
            <div class="plan-item" data-feature="PowerBI">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Dashboards">
                -
            </div>
            <div class="plan-item" data-feature="Components">
                -
            </div>
            <div class="plan-item" data-feature="Workbench Reports">
                -
            </div>
            <div class="plan-item" data-feature="Slicer Dicer">
                -
            </div>
            <div class="plan-item" data-feature="Usage Metrics">
                -
            </div>
        </div>
        <div class="plan-footer">
            <a class="button is-fullwidth"
               href="https://help.sap.com/viewer/product/SAP_Analytics_Hub/1.0/en-US"
               target="_blank"
               rel="noopener">
                Open Docs
            </a>
        </div>
    </div>
    <div class="pricing-plan is-warning is-flex-widescreen">
        <div class="plan-header">
            Curator
        </div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Open Source">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Search">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Documentation">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Auto-load Metadata via ETL">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Certification Tags">
                -
            </div>
            <div class="plan-item" data-feature="Favorite Reports">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Share Reports">
                -
            </div>
            <div class="plan-item" data-feature="Report Usage Metrics">
                -
            </div>
            <div class="plan-item" data-feature="Report Collections">
                -
            </div>
            <div class="plan-item" data-feature="Report Relationship ETL">
                -
            </div>
            <div class="plan-item" data-feature="Report Source Code ETL">
                -
            </div>
            <div class="plan-item" data-feature="Term Glossary">
                -
            </div>
            <div class="plan-item" data-feature="User Profiles">
                -
            </div>
            <div class="plan-item" data-feature="Maintenance Schedule">
                -
            </div>
            <div class="plan-group" data-group="Integrations">
                &nbsp;
            </div>
            <div class="plan-item" data-feature="Tableau Integration">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Microsoft SSRS">
                -
            </div>
            <div class="plan-item" data-feature="SAP Crystal">
                -
            </div>
            <div class="plan-item" data-feature="PowerBI">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Dashboards">
                -
            </div>
            <div class="plan-item" data-feature="Components">
                -
            </div>
            <div class="plan-item" data-feature="Workbench Reports">
                -
            </div>
            <div class="plan-item" data-feature="Slicer Dicer">
                -
            </div>
            <div class="plan-item" data-feature="Usage Metrics">
                -
            </div>
        </div>
        <div class="plan-footer">
            <a class="button is-fullwidth" href="https://curator.interworks.com" target="_blank" rel="noopener">
                Open Docs
            </button>
        </div>
    </div>
    <div class="pricing-plan is-active">
        <div class="plan-header">
            {{ bi_library.name }}
        </div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Open Source">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Search">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Documentation">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Auto-load Metadata via ETL">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Certification Tags">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Favorite Reports">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Share Reports">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Usage Metrics">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Collections">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Relationship ETL">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Source Code ETL">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Term Glossary">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="User Profiles">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Maintenance Schedule">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-group" data-group="Integrations">
                &nbsp;
            </div>
            <div class="plan-item" data-feature="Tableau Integration">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Microsoft SSRS">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="SAP Crystal">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="PowerBI">
                -
            </div>
            <div class="plan-item" data-feature="Dashboards">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Components">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Workbench Reports">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Slicer Dicer">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Usage Metrics">
                {% include 'icons/green_check.njk' %}
            </div>
        </div>
        <div class="plan-footer">
            <a class="button is-fullwidth" href="/docs">
                Open Docs
            </a>
        </div>
    </div>
    <div class="pricing-plan is-warning is-flex-widescreen">
        <div class="plan-header">
            Informatica
        </div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Open Source">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Search">
                -
            </div>
            <div class="plan-item" data-feature="Report Documentation">
                -
            </div>
            <div class="plan-item" data-feature="Auto-load Metadata via ETL">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Certification Tags">
                -
            </div>
            <div class="plan-item" data-feature="Favorite Reports">
                -
            </div>
            <div class="plan-item" data-feature="Share Reports">
                -
            </div>
            <div class="plan-item" data-feature="Report Usage Metrics">
                -
            </div>
            <div class="plan-item" data-feature="Report Collections">
                -
            </div>
            <div class="plan-item" data-feature="Report Relationship ETL">
                -
            </div>
            <div class="plan-item" data-feature="Report Source Code ETL">
                -
            </div>
            <div class="plan-item" data-feature="Term Glossary">
                -
            </div>
            <div class="plan-item" data-feature="User Profiles">
                -
            </div>
            <div class="plan-item" data-feature="Maintenance Schedule">
                -
            </div>
            <div class="plan-group" data-group="Integrations">
                &nbsp;
            </div>
            <div class="plan-item" data-feature="Tableau Integration">
                -
            </div>
            <div class="plan-item" data-feature="Microsoft SSRS">
                -
            </div>
            <div class="plan-item" data-feature="SAP Crystal">
                -
            </div>
            <div class="plan-item" data-feature="PowerBI">
                -
            </div>
            <div class="plan-item" data-feature="Dashboards">
                -
            </div>
            <div class="plan-item" data-feature="Components">
                -
            </div>
            <div class="plan-item" data-feature="Workbench Reports">
                -
            </div>
            <div class="plan-item" data-feature="Slicer Dicer">
                -
            </div>
            <div class="plan-item" data-feature="Usage Metrics">
                -
            </div>
        </div>
        <div class="plan-footer">
            <a class="button is-fullwidth" href="https://www.informatica.com" target="_blank" rel="noopener">
                Open Site
            </a>
        </div>
    </div>
    <div class="pricing-plan is-warning is-flex-widescreen">
        <div class="plan-header">
            IBM InfoSphere
        </div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Open Source">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Search">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Documentation">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Auto-load Metadata via ETL">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Certification Tags">
                -
            </div>
            <div class="plan-item" data-feature="Favorite Reports">
                -
            </div>
            <div class="plan-item" data-feature="Share Reports">
                -
            </div>
            <div class="plan-item" data-feature="Report Usage Metrics">
                -
            </div>
            <div class="plan-item" data-feature="Report Collections">
                -
            </div>
            <div class="plan-item" data-feature="Report Relationship ETL">
                -
            </div>
            <div class="plan-item" data-feature="Report Source Code ETL">
                -
            </div>
            <div class="plan-item" data-feature="Term Glossary">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="User Profiles">
                -
            </div>
            <div class="plan-item" data-feature="Maintenance Schedule">
                -
            </div>
            <div class="plan-group" data-group="Integrations">
                &nbsp;
            </div>
            <div class="plan-item" data-feature="Tableau Integration">
                -
            </div>
            <div class="plan-item" data-feature="Microsoft SSRS">
                -
            </div>
            <div class="plan-item" data-feature="SAP Crystal">
                -
            </div>
            <div class="plan-item" data-feature="PowerBI">
                -
            </div>
            <div class="plan-item" data-feature="Dashboards">
                -
            </div>
            <div class="plan-item" data-feature="Components">
                -
            </div>
            <div class="plan-item" data-feature="Workbench Reports">
                -
            </div>
            <div class="plan-item" data-feature="Slicer Dicer">
                -
            </div>
            <div class="plan-item" data-feature="Usage Metrics">
                -
            </div>
        </div>
        <div class="plan-footer">
            <a class="button is-fullwidth"
               href="https://www.ibm.com/analytics/information-server"
               target="_blank"
               rel="noopener">
                Open Site
            </a>
        </div>
    </div>
    <div class="pricing-plan is-warning is-flex-widescreen">
        <div class="plan-header">
            Collibra
        </div>
        <div class="plan-items">
            <div class="plan-item" data-feature="Open Source">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Search">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Documentation">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Auto-load Metadata via ETL">
                {% include 'icons/red_times.njk' %}
            </div>
            <div class="plan-item" data-feature="Certification Tags">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Favorite Reports">
                -
            </div>
            <div class="plan-item" data-feature="Share Reports">
                -
            </div>
            <div class="plan-item" data-feature="Report Usage Metrics">
                {% include 'icons/green_check.njk' %}
            </div>
            <div class="plan-item" data-feature="Report Collections">
                -
            </div>
            <div class="plan-item" data-feature="Report Relationship ETL">
                -
            </div>
            <div class="plan-item" data-feature="Report Source Code ETL">
                -
            </div>
            <div class="plan-item" data-feature="Term Glossary">
                -
            </div>
            <div class="plan-item" data-feature="User Profiles">
                -
            </div>
            <div class="plan-item" data-feature="Maintenance Schedule">
                -
            </div>
            <div class="plan-group" data-group="Integrations">
                &nbsp;
            </div>
            <div class="plan-item" data-feature="Tableau Integration">
                -
            </div>
            <div class="plan-item" data-feature="Microsoft SSRS">
                -
            </div>
            <div class="plan-item" data-feature="SAP Crystal">
                -
            </div>
            <div class="plan-item" data-feature="PowerBI">
                -
            </div>
            <div class="plan-item" data-feature="Dashboards">
                -
            </div>
            <div class="plan-item" data-feature="Components">
                -
            </div>
            <div class="plan-item" data-feature="Workbench Reports">
                -
            </div>
            <div class="plan-item" data-feature="Slicer Dicer">
                -
            </div>
            <div class="plan-item" data-feature="Usage Metrics">
                -
            </div>
        </div>
        <div class="plan-footer">
            <a class="button is-fullwidth" href="https://www.collibra.com" target="_blank" rel="noopener">
                Open Site
            </a>
        </div>
    </div>
</div>
