    <div class="block">
        <h3 class="title is-3">Is there a demo? Yes! <a href="/help" class="button is-info is-pulled-right is-family-sans-serif">Find a demo</a></h3>
        <p>
            Live demo's and question-answer sessions happen regularly. Reach out to be included in the next demo!
        </p>
    </div>
    <div class="block">
        <h4 class="title is-4">User Web Presentation</h4>
        <div class="video_wrapper" style="padding-bottom: 56.250000%; padding-top: 30px; position: relative; width: 100%">
            <iframe allowfullscreen="true" src="https://www.youtube.com/embed/d_IGbnuXvJ8" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%"></iframe>
        </div>
    </div>

    <div class="block">
        <h4 class="title is-4">HDAA Presentation</h4>
        <div class="video_wrapper" style="padding-bottom: 45.250000%; padding-top: 30px; position: relative; width: 100%">
            <iframe allowfullscreen="true" src="https://player.vimeo.com/video/500220637" style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%"></iframe>
        </div>
    </div>
