<section class="section">
        <div class="container">
<h2 class="title is-3">What do we love?</h2>
{% for feature in bi_library.features %}

<div class="card my-2">
    <a class="card-header has-arrow" data-action="collapse" data-target="collapsible-card-{{loop.index}}">
        <p class="card-header-title">
            {{ feature.heading }}
        </p>
    </a>
    <div id="collapsible-card-{{loop.index}}" class="is-collapsible">
        <div class="card-content">
            <p class="content">
               {{ feature.message|safe }}
            </p>
        </div>
    </div>
</div>
{%  endfor %}

</div>
</section>
<div class="hero-body hero-two">
    <div class="container">{% include "home/library_demo.njk" %}</div>
</div>
<section class="section">

<div class="container is-hidden-touch">{% include "home/library_alternate_tools.njk" %}</div>
</section>
