<aside class="menu">
    {% set navPages =  collections.all | eleventyNavigation(tool) %}

    {% macro renderNavListItem(entry) -%}
        {# custom code for bi-library section #}
        {% if tool == "BI Library" %}
            {% if entry.title == "Webserver Setup" %}
                <p class="menu-label">
                    Using Atlas BI Library
                </p>
            {% elif entry.title == "Development" %}
                <p class="menu-label">
                    Development
                </p>
            {% elif entry.title == "Demo" %}
                <li><a href="/docs/bi-library/"
                   class="{%- if page.url == "/docs/bi-library/" -%}is-active{%- endif -%}">
                    Atlas BI Library
                </a></li>
                <p class="menu-label">
                    Welcome
                </p>
            {% elif entry.title == "License" %}
                <p class="menu-label">
                    Links
                </p>
                <li>
                    <a href="https://github.com/atlas-bi/atlas-bi-library"
                       target="_blank"
                       rel="noopener">Github Repository</a>
                </li>
            {% endif %}
        {% elif tool=="Automation Hub" %}
            {% if entry.title == "Gallery" %}
                <li>
                <a href="/docs/automation-hub/"
                   class="{%- if page.url == "/docs/automation-hub/" -%}is-active{%- endif -%}">
                    Atlas Automation Hub
                </a></li>
                <p class="menu-label">
                    Welcome
                </p>
                <li>
                    <a href="https://atlas-hub.atlas.bi"
                       target="_blank"
                       rel="noopener"> ↪ Demo</a>
                </li>
            {% elif entry.title == "Install Guide" %}
                <p class="menu-label">
                    How to Install
                </p>
            {% elif entry.title == "Dashboard" %}
                <p class="menu-label">
                    How to Use
                </p>
            {% elif entry.title == "Development" %}
                <p class="menu-label">
                    Contributing
                </p>
            {% elif entry.title == "License" %}
                <p class="menu-label">
                    Links
                </p>
                <li>
                    <a href="https://github.com/atlas-bi/atlas-automation-hub"
                       target="_blank"
                       rel="noopener">Github Repository</a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            {%- if entry.children.length %}
                <strong>
                {% endif -%}
                <a href="{{ entry.url | url }}"
                   class="{%- if entry.url == page.url -%}is-active{%- endif -%}">{{ entry.title }}</a>
                {%- if entry.children.length %}
                </strong>
            {% endif -%}
            {%- if entry.children.length -%}
                <a class="menu-collapse-arrow"
                   data-action="collapse"
                   data-target="{{ entry.url }}">
                    <span class="icon">{% include "icons/angle_down.njk" %}</span>
                </a>
            {% endif %}
            {%- if entry.children.length -%}
                <ul id="{{ entry.url }}"
                    entry="{{ entry.url }}"
                    page="{{ page.url }}"
                    class="menu-list
                           {% if entry.url == page.url %}
                               is-active
                           {% endif %}

                           {% for child in entry.children %}
                           {% if child.url== page.url %}
                               is-active
                           {% endif %}
                           {% endfor %} is-collapsible">
                    {%- for child in entry.children %}{{ renderNavListItem(child) }}
                    {% endfor -%}
                </ul>
            {%- endif -%}
        </li>
    {%- endmacro %}
<ul class="menu-list">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>
</aside>
