---
layout: layout.njk
tool: Automation Hub
date: git Last Modified
---
{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column mr-5 is-narrow">{% include "docs_nav.njk" %}</div>
                <div class="column is-flex is-flex-direction-column">
                    <div class="is-flex-grow-1">
                        {{ content | safe }}
                    </div>

                    <div class="is-flex is-justify-content-space-between mt-5">

                        {% set flatNavItems = collections.all | eleventyNavigation(tool) | flattenNavigationAndAddNextPrev %}
                        {% for item in flatNavItems %}
                            {% if item.url === page.url %}
                                {% if flatNavItems[loop.index0 - 1] %}
                                    <a class="button" href="{{ flatNavItems[loop.index0 - 1].url }}">
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-left-long"></i>
                                        </span>
                                        <span>{{ flatNavItems[loop.index0 - 1].title }}</span>
                                    </a>
                                {%  else %}
                                    <span></span>
                                {% endif %}

                                {% if flatNavItems[loop.index0 +1] %}
                                    <a class="button" href="{{ flatNavItems[loop.index0 + 1].url }}">
                                        <span>{{ flatNavItems[loop.index0 + 1].title }}</span>
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-right-long"></i>
                                        </span>
                                    </a>
                                {%  else %}
                                    <span></span>
                                {% endif %}
                            {%  endif  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
