---
layout: layout.njk
tool: Automation Hub
---
{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column mr-5 is-narrow">{% include "docs_nav.njk" %}</div>
                <div class="column">{{ content | safe }}</div>
            </div>
        </div>
    </section>
{% endblock body %}
