<aside class="menu">
    {% set navPages = collections.all | eleventyNavigation(tool) %}
    {% macro renderNavListItem(entry) -%}
    {# custom code for bi_library section #}
    {% if tool == "BI Library" %}
        {% if entry.title == "Requirements" %}
            <p class="menu-label">
                Implementation
            </p>
        {% elif entry.title == "Development" %}
            <p class="menu-label">
                Development
            </p>
        {% elif entry.title == "Demo" %}
            <p class="menu-label">
                Welcome
            </p>
        {% elif entry.title == "License" %}
            <p class="menu-label">
                Links
            </p>
        {% endif %}
    {% endif %}
    <li>
        {%- if entry.children.length %}
            <strong>
        {% endif -%}
        <a href="{{ entry.url | url }}" class="{%- if entry.url == page.url -%}is-active{%- endif -%}">
            {{ entry.title }}
        </a>
        {%- if entry.children.length %}
            </strong>
        {% endif -%}
        {%- if entry.children.length -%}
            <a class="menu-collapse-arrow" data-action="collapse" data-target="{{ entry.url }}">
                <span class="icon" >{% include "icons/angle_down.njk" %}</span>
            </a>
        {% endif %}
        {%- if entry.children.length -%}
            <ul id="{{ entry.url }}"
                entry="{{ entry.url }}"
                page="{{ page.url }}"
                class="menu-list{% if entry.url == page.url %}is-active {% endif %} {% for child in entry.children %}{% if child.url== page.url %}is-active{% endif %}{% endfor %} is-collapsible">
                {%- for child in entry.children %}{{ renderNavListItem(child) }}
                {% endfor -%}
            </ul>
        {%- endif -%}
    </li>
{%- endmacro %}
<ul class="menu-list">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>
</aside>
