<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths is-hidden-mobile">
                <strong>Atlas</strong>
                was created by the Riverside Healthcare Analytics team.
                <br />
                <span class="copyright">© {{ now.year }} Riverside Healthcare</span>
                <br />
                <br />
                help@atlas.bi
                <div class="columns pt-5">
                    <div class="column is-narrow">
                        <a href="https://github.com/Riverside-Healthcare/Atlas"
                           class="github">
                        {% image "./src/_static/img/github.svg", "github icon", "(min-width: 100px) 30px, 30px" %}
            </a>
                    </a>
                </div>
                <div class="column is-narrow">
                    <a href="https://discord.com/invite/a9NrrxSSAr" class="discord">
                        {% image "./src/_static/img/discord.svg", "discord icon", "(min-width: 100px) 30px, 30px" %}
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <strong>Atlas Links</strong>
            <ul>
                <li>
                    <a href="https://docs.atlas.bi" target="_blank" rel="noopener">
                        Documentation
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Riverside-Healthcare/Atlas">
                        Source Code
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Riverside-Healthcare/Atlas-ETL">
                        ETL Source Code
                    </a>
                </li>
            </ul>
        </div>
        <div class="column ">
            <a href="https://www.riversidehealthcare.org">
                {% image "./src/_static/img/rh-logo-horizontal-2.svg", "riverside logo", "(max-width: 200px) 50vw, 100vw" %}
            </a>
            <br />
            350 N. Wall Street, Kankakee, IL 60901
        </div>
    </div>
</div>
</footer>
