<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <figure class="image" style="max-width: 100px;">
                    {% image "./src/static/img/atlas-logo.png", "atlas icon", "(min-width:100px) 50vw, 100vw" %}
                </figure>
                <p class="mt-4">
                    Atlas is a collection of open-source projects that help analytics teams manage their report library and create data extracts.
                </p>
                <p class="mt-4 mb-2">
                    Atlas was created by the Riverside Healthcare Analytics team.
                </p>
                <div class="level mt-5 is-justify-content-start">
                    <a class="mr-3 mb-3"
                       href="https://github.com/atlas-bi"
                       target="_blank"
                       rel="noopener">
                        <span class="icon is-large has-text-grey-darker">
                            <i class="fab fa-2x fa-github"></i>
                        </span>
                    </a>
                    <a class="mr-3 mb-3"
                       href="https://discord.gg/hdz2cpygQD"
                       target="_blank"
                       rel="noopener">
                        <span class="icon is-large has-text-grey-darker">
                            <i class="fab fa-2x fa-discord"></i>
                        </span>
                    </a>
                    <a class="mr-3 mb-3" href="mailto:help@atlas.bi">
                        <span class="icon is-large has-text-grey-darker">
                            <i class="fas fa-envelope fa-2x"></i>
                        </span>
                    </a>
                </div>
                <p class="copyright has-text-grey">
                    © 2021 Riverside Healthcare | Updated {{ page.date | niceDate }}
                </p>
            </div>
            <div class="column"></div>
            <div class="column">
                <strong>Solutions</strong>
                <ul>
                    <li>
                        <a href="/bi-library">Atlas BI Library</a>
                    </li>
                    <li>
                        <a href="/automation-hub">Atlas Automation Hub</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <strong>Atlas Links</strong>
                <ul>
                    <li>
                        <a href="/docs">Documentation</a>
                    </li>
                    <li>
                        <a href="/download">Download</a>
                    </li>
                    <li>
                        <a href="/help">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
