<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-hidden-mobile">
                <strong>Atlas</strong>
                was created by the Riverside Healthcare Analytics team.
                <br />
                <span class="copyright">© 2021 Riverside Healthcare</span>
                <br />
                <br />
                help@atlas.bi
            </div>
            <div class="column">
                <strong>Atlas Links</strong>
                <ul>
                    <li>
                        <a href="/docs" target="_blank" rel="noopener">Documentation</a>
                    </li>
                    <li>
                        <a href="https://github.com/Riverside-Healthcare/Atlas">Source Code</a>
                    </li>
                    <li>
                        <a href="https://github.com/Riverside-Healthcare/Atlas-ETL">ETL Source Code</a>
                    </li>
                </ul>
            </div>
            <div class="column ">
                <div class="columns pt-5">
                    <div class="column is-narrow">
                        <a href="https://github.com/Riverside-Healthcare/Atlas" class="github">
                            <figure class="image is-24x24">
                                {% image "./src/static/img/GitHub-Mark-120px-plus.png", "github icon", "(min-width: 100px) 30px, 30px" %}
                            </figure>
                        </a>
                    </div>
                    <div class="column is-narrow">
                        <a href="https://discord.com/invite/a9NrrxSSAr" class="discord">
                            <figure class="image is-35x35">
                                {% image "./src/static/img/discord.svg", "discord icon", "(min-width: 100px) 30px, 30px" %}
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
