{% set links = [
    {
        "href": "/library",
        "name": "Library"
    },
    {
        "href": "/hub",
        "name": "Hub"
    },
    {
        "href": "/system",
        "name": "System"
    }
] %}
<div class="sticky top-0 backdrop-blur-md bg-white/60 z-20" id="nav">
    <div class="flex h-16 items-center px-4 container mx-auto">
        <nav class="flex grow shrink items-center justify-between space-x-4 lg:space-x-6 md:mx-6">
            <a href="/" class="flex shrink-0 items-center group">
                {% image "./src/static/img/logo.svg", "atlas icon", "(min-width:10px) 50vw, 100vw" , "", "eager", "auto", 'h-9 w-9' %}
                <h2 class="max-lg:hidden scroll-m-20 text-2xl font-medium transition-colors m-0 hover:text-slate-900 text-slate-700">
                    <span class="mx-2 text-slate-300  group-hover:text-sky-400">/</span>
                    atlas
                </h2>
            </a>
            <div class="max-lg:hidden border rounded-md">{% include './components/links.njk' %}</div>
            {% set links = [{"href": "/docs", "name": "Docs"}, {"href": "/pricing", "name": "Pricing"}, {"href": "/new"}] %}
            {% set mobileLinks = [
                {
                    "href": "/library",
                    "name": "Library"
                },
                {
                    "href": "/hub",
                    "name": "Hub"
                },
                {
                    "href": "/system",
                    "name": "System"
                },
                {
                    "href": "/docs",
                    "name": "Docs"
                },
                {
                    "href": "/pricing",
                    "name": "Pricing"
                }
            ] %}
            <div class="ml-auto flex items-center space-x-4 max-lg:grow max-lg:shrink">
                <div class="max-lg:hidden">{% include './components/links.njk' %}</div>
                {% include './components/search.njk' %}
                <div class="max-lg:hidden">{% include './components/social.njk' %}</div>
                <div class="lg:hidden">{% include './components/mobile.njk' %}</div>
            </div>
        </nav>
    </div>
</div>
