<nav class="navbar atlas-nav has-shadow is-transparent"
     role="navigation"
     aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/">{% image "./src/static/img/atlas-logo.png", "atlas icon", "(min-width:182px) 50vw, 100vw" %}</a>
            <a role="button"
               class="navbar-burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="atlas-nav-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="atlas-nav-menu" class="navbar-menu">
            <div class="navbar-end is-flex-grow-1" id="search-wrap">
                <form id="search-form"
                      class="is-flex is-flex-grow-1 is-align-items-center mx-3 ml-5"
                      style="position: relative;">
                    <div class="control has-icons-left is-flex-grow-1">
                        <span class="icon is-small is-left">{% include 'icons/search.njk' %}</span>
                        <input id="search"
                               class="input"
                               type="text"
                               placeholder="search the docs ..."/>
                    </div>
                    <div id="search-results" class="panel has-background-white"></div>
                </form>
                <div class="navbar-item has-dropdown is-hoverable is-mega">
                    <a class="navbar-link flex">BI Library</a>
                    <div class="navbar-dropdown">
                        <div class="container is-fluid mt-5">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-3">See the Features</h6>
                                    <div class="block">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-project-digram fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/bi-library/#features">Unified Report Library</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Have you found yourself switching between several ...
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-search fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/bi-library/#features">Supercharged Search</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Capitalizing on a centralized metadata repository, quickly ...
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-book fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/bi-library/#features">Report Documentation</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Who? What? When? Why? These questions are all answered ...
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-heart fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/bi-library/#features">Grouping, Sharing, Staring</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Have you been working on a project involving a multiple ...
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-address-card fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/bi-library/#features">The Report Profile</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Wonder how much your report is being used? Or who's ...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider is-vertical"></div>
                                </div>
                                <div class="column">
                                    <h6 class="title is-3">Top Integrations</h6>
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                {% image "./src/static/img/sap.png", "sap icon", "(min-width:128px) 50vw, 100vw" %}
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4">
                                                <a href="/bi-library/#integrations">SAP Crystal</a>
                                            </p>
                                            <p class="subtitle is-6">
                                                Find all the steps to prepare an IIS webserver for your Atlas BI Library install.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                {% image "./src/static/img/Tableau.png", "tableau icon", "(min-width:128px) 50vw, 100vw" %}
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4">
                                                <a href="/bi-library/#integrations">Tableau</a>
                                            </p>
                                            <p class="subtitle is-6">
                                                Find all the steps to prepare an IIS webserver for your Atlas BI Library install.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                {% image "./src/static/img/SSRS.png", "ssrs icon", "(min-width:300px) 50vw, 100vw" %}
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4">
                                                <a href="/bi-library/#integrations">SSRS</a>
                                            </p>
                                            <p class="subtitle is-6">
                                                Find all the steps to prepare an IIS webserver for your Atlas BI Library install.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                {% image "./src/static/img/epic.png", "epic icon", "(min-width:128px) 50vw, 100vw" %}
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4">
                                                <a href="/bi-library/#integrations">Epic</a>
                                            </p>
                                            <p class="subtitle is-6">
                                                Find all the steps to prepare an IIS webserver for your Atlas BI Library install.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <h6 class="title is-3">Read the Docs</h6>
                                    <div class="block">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-server fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/docs/bi-library/webserver-setup/">Webserver Setup Guide</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Find all the steps to prepare an IIS webserver for ...
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-database fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/docs/bi-library/database-setup/">Database Setup Guide</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Learn about how to setup your database for a new ...
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-code fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/docs/bi-library/etl/">ETL Setup Guide</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Discover the ETL, how it works, and the supplementary ETL's ...
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="icon is-large has-text-grey-light">
                                                    <i class="fas fa-ship fa-2x"></i>
                                                </span>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">
                                                    <a href="/docs/bi-library/deploy/">Deploy</a>
                                                </p>
                                                <p class="subtitle is-6">
                                                    Read about how to deploy Atlas BI Library onto your ...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="navbar-item" href="/automation-hub">Automation Hub</a>
            <a class="navbar-item" href="/download">Download</a>
            <a class="navbar-item" href="/docs">
                Documentation
            </a>
            <a class="navbar-item button is-info animated slideInRight" href="/help">
                Get Help
            </a>
        </div>
    </div>
</nav>
