<footer class="text-sm leading-6 mt-12">
    <div class="mb-10 text-slate-700 font-semibold flex items-center dark:text-slate-200">
        {% set flatNavItems = collections.all | eleventyNavigation(tool) | flattenNavigationAndAddNextPrev %}
        {% for item in flatNavItems %}
            {% if item.url === page.url %}
                {% if flatNavItems[loop.index0 - 1] %}
                    <a class="group flex items-center hover:text-slate-900 dark:hover:text-white"
                       href="{{ flatNavItems[loop.index0 - 1].url }}">
                        <svg viewBox="0 0 3 6"
                             class="mr-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300">
                            <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                        {{ flatNavItems[loop.index0 - 1].title }}
                    </a>
                {% else %}
                    <span></span>
                {% endif %}
                {% if flatNavItems[loop.index0 +1] %}
                    <a class="group ml-auto flex items-center hover:text-slate-900 dark:hover:text-white"
                       href="{{ flatNavItems[loop.index0 + 1].url }}">
                        {{ flatNavItems[loop.index0 + 1].title }}
                        <svg viewBox="0 0 3 6"
                             class="ml-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300">
                            <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </a>
                {% else %}
                    <span></span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="pt-10 pb-10 lg:pb-28 border-t border-slate-200 sm:flex justify-between text-slate-500 dark:border-slate-200/5">
        <div class="mb-6 sm:mb-0 sm:flex">
            <p>Copyright © {% year %} Riverside Healthcare | Updated {{ page.date | niceDate }}</p>
        </div>
        {% gh_edit page %}
    </footer>
