---
layout: layout.njk
date: git Last Modified
---
<div class="fixed lg:hidden right-0 left-0 top-[4rem] backdrop-blur-md bg-white/60 z-[19] border-b">
    <div class="border-t mx-4 py-4">
        <button id="nav-menu-trigger" class="text-slate-600">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="h-5 w-5">
                <rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
                <path d="M9 3v18"></path>
                <path d="m14 9 3 3-3 3"></path>
            </svg>
        </button>
        {{ page.title }}
    </div>
</div>
<div id="nav-menu"
     class="fixed top-0 right-0 left-0 w-100vw transition-[visibility] invisible bottom-0 bg-white/60 backdrop-blur-md z-[100]">
</div>
<div id="nav-menu-body"
     class="lg:hidden z-50 fixed top-0 right-0 bottom-0 left-0  w-3/4 min-w-[17rem]  md:w-[19rem] bg-white border-r h-full transition-all ease-in-out duration-500 transform -translate-x-full overflow-y-scroll z-[101] px-6 pb-6">
    {% include "docs_nav.njk" %}
</div>
<section class="flex">
    <div class="mx-auto container">
        <div class="hidden lg:block fixed z-10 inset-0 top-[4.1rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19.5rem] pb-10 px-8 overflow-y-auto">
            {% include "docs_nav.njk" %}
        </div>
        <div class="lg:pl-[19.5rem] max-lg:pt-8">
            <div class="max-w-3xl mx-auto pt-10 xl:max-w-none xl:ml-0 xl:mr-[15.5rem] xl:pr-16">
                <div class='prose prose-slate'>{{ content | safe }}</div>
                {% include './docsFooter.njk' %}
            </div>
        </div>
    </div>
</section>
