<nav class="relative z-10 flex flex-1 items-center justify-center">
    <div class="relative">
        <ul data-orientation="horizontal"
            class="group flex flex-1 list-none items-center justify-center space-x-1"
            dir="ltr">
            {% set dropClass = "bg-transparent inline-flex items-center justify-center rounded-md text-sm font-medium focus:outline-none focus:bg-accent/50 focus:text-accent-foreground disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-accent/50 hover:text-accent-foreground data-[state=open]:bg-accent/50 data-[active]:bg-accent/50 h-10 py-2 px-4 group w-max group transition-colors text-muted-foreground" %}
            {% for link in links %}
                <li>
                    <a href="{{ link.href }}"
                       class="bg-transparent transition-colors text-muted-foreground inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus:outline-none focus:bg-accent/50 focus:text-accent-foreground disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-accent/50 hover:text-accent-foreground data-[state=open]:bg-accent/50 data-[active]:bg-accent/50 h-10 py-2 px-4 group w-max">{{ link.name }}</a></a>
                </li>
            {% endfor %}
            <li>
                <a href="/new"
                   class="bg-transparent transition-colors text-muted-foreground inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus:outline-none focus:bg-accent/50 focus:text-accent-foreground disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-accent/50 hover:text-accent-foreground data-[state=open]:bg-accent/50 data-[active]:bg-accent/50 h-10 py-2 px-4 group w-max">
                    <span class="relative flex -mt-2 h-2 w-2">
                        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
                        <span class="relative inline-flex rounded-full h-2 w-2 bg-sky-500"></span>
                    </span>Coming Soon!</a>
                </li>
            </ul>
        </div>
    </nav>
