<div data-state="closed"
     class="fixed inset-0 z-50 bg-background/80 backdrop-blur-sm data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 "
     style="display:none"
     style="pointer-events: auto"
     data-aria-hidden="true"
     aria-hidden="true"
     id="search-backdrop"></div>
<div id="search-dialog"
     role="dialog"
     aria-describedby="radix-:r5a3:"
     aria-labelledby="radix-:r5a2:"
     data-state="closed"
     style="display:none"
     class="fixed left-[50%] top-[50%] z-50 grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background duration-200 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] sm:rounded-lg md:w-full overflow-hidden p-0 shadow-lg"
     tabindex="-1"
     style="pointer-events: auto">
    <div class="flex h-full w-full flex-col overflow-hidden rounded-md bg-popover text-popover-foreground [&amp;_[cmdk-group-heading]]:px-2 [&amp;_[cmdk-group-heading]]:font-medium [&amp;_[cmdk-group-heading]]:text-muted-foreground [&amp;_[cmdk-group]:not([hidden])_~[cmdk-group]]:pt-0 [&amp;_[cmdk-group]]:px-2 [&amp;_[cmdk-input-wrapper]_svg]:h-5 [&amp;_[cmdk-input-wrapper]_svg]:w-5 [&amp;_[cmdk-input]]:h-12 [&amp;_[cmdk-item]]:px-2 [&amp;_[cmdk-item]]:py-3 [&amp;_[cmdk-item]_svg]:h-5 [&amp;_[cmdk-item]_svg]:w-5"
         cmdk-root="">
        <label cmdk-label=""
               for=":r5qn:"
               id=":r5qm:"
               style="position: absolute;
                      width: 1px;
                      height: 1px;
                      padding: 0px;
                      margin: -1px;
                      overflow: hidden;
                      clip: rect(0px, 0px, 0px, 0px);
                      white-space: nowrap;
                      border-width: 0px"></label>
        <div class="flex items-center border-b px-3" cmdk-input-wrapper="">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="mr-2 h-4 w-4 shrink-0 opacity-50">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
            </svg>
            <input class="flex h-11 w-full rounded-md bg-transparent py-3 text-sm outline-none placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50"
                   id="search"
                   placeholder="Type to search..."
                   autocomplete="off"
                   autocorrect="off"
                   spellcheck="false"
                   aria-autocomplete="list"
                   role="combobox"
                   aria-expanded="true"
                   aria-controls=":r5ql:"
                   aria-labelledby=":r5qm:"
                   type="text">
        </div>
        <div class="max-h-[300px] overflow-y-auto overflow-x-hidden"
             cmdk-list=""
             role="listbox"
             aria-label="Suggestions"
             id=":r5ql:"
             aria-labelledby=":r5qn:"
             style="--cmdk-list-height: 552px"
             id="s-results">
            <div cmdk-list-sizer="" id='search-results'></div>
        </div>
    </div>
    <button type="button"
            class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-accent data-[state=open]:text-muted-foreground"
            id="search-close">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="h-4 w-4">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
        </svg>
        <span class="sr-only">Close</span>
    </button>
</div>
