<div data-tabs>
    <div class='border-b'>
        <div role="tablist" class="flex mb-[-1px] space-x-6">
            {%- for tab in tabData -%}
                <button type="button"
                        role="tab"
                        data-tab="{{ tab.id }}"
                        aria-selected="{% if loop.index0 == 0 %}true{% else %}false{% endif %}"
                        class="transition-colors tab-link px-1 py-2 border-b-2 whitespace-nowrap font-light {% if loop.index0 == 0 %}border-b-sky-700 text-sky-700 hover:text-sky-800 hover:border-b-sky-800{% else %}border-b-transparent text-slate-600 hover:text-slate-700 hover:border-b-slate-300{% endif %}">{{ tab.name }}</button>
            {%- endfor -%}
        </div>
    </div>
    <div>
        {%- for tab in tabData -%}
            <div data-tab="{{ tab.id }}"
                 role="tabpanel"
                 class="py-2 tab-block {% if loop.index0 == 0 %}block{% else %} hidden{% endif %}">
                {{ tab.content | safe }}
            </div>
        {%- endfor -%}
    </div>
</div>
