<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths is-hidden-mobile">
                <strong>Atlas</strong> was created by the Riverside Healthcare Analytics team.
                <br />
                <span class="copyright">© {{ now.year }} Riverside Healthcare
                <br />
                <br />
                help@atlas.bi
                </div>
                <div class="column">
                    <strong>Atlas Links</strong>
                    <ul>
                        <li>
                            <a
                                href="https://docs.atlas.bi"
                                target="_blank"
                                rel="noopener">Documentation
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Riverside-Healthcare/Atlas">Source Code</a>
                        </li>
                        <li>
                            <a
                                href="https://github.com/Riverside-Healthcare/Atlas-ETL">ETL Source Code
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="column ">
                    <a href="https://www.riversidehealthcare.org">
                        <img
                            src="/static/img/rh-logo-horizontal-2.svg"
                            width="275"
                            height="18"
                            alt="riverside logo"/>
                    </a>
                    <br />350 N. Wall Street, Kankakee, IL 60901
                </div>
            </div>
        </div>
    </footer>
