{% extends "layout.html.j2" %}
{% block body %}
<div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1>it's called <strong>Atlas</strong></h1>
                <p class="subtitle">
                    Bringing all your reporting together!
                </p>
            </div>
            <div class="column">
                <img src="/static/img/sources.png" width="500">
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h1 class="title">Why Atlas?</h1>
                    <ul>
                        <li>Do you need better governance over your report documentation?</li>
                        <li>Do you want to make that documentation available to end users?
                        <li>How about being able to track and manage what reports end users are using?</li>
                        <li>Being able to define specific concepts metrics that end users could access?</li>
                        </li>
                    </ul>
                    <br><i>what about...</i>
                    <ul>
                        <li>Easily favorite and share reports with coligues?</li>
                        <li>Should your reports be organized into projects?</li>
                        <li>With recurring maintenance tasks?</li>
                        <li>Wait, did you want to add a maintenance schedule to your report?
                        </li>
                    </ul>
                    <br>
                    <p>
                        Atlas does all this and more!
                    </p>
                    <h2 class="title">What else does it do?</h1>
                        <p>
                            Atlas is a web user interface for an ETL process that collects report metadata from a variaty of sources. The webapp provides a clean search, a multitude of documentation options, and in a word, makes managing your report library stress free.
                        </p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h1 class="title">Key Features</h2>
                        <ul>
                            <li>Clearly define terms and link to reports</li>
                            <li>Easily group reports and terms into projects</li>
                            <li>Create and track Data Initiatives</li>
                            <li>Ability to run and open editors directly from Atlas</li>
                            <li>Atlas allows very expansive documentation! - Screenshots - Large editor form with multiple sections - Markdown support - Maintenance schedules and log workflow - Tiered report validation levels - Report relationships are fully ETL'd - Report/term/project/initiative relationships can be added - Source report SQL is included in ETL's</li>
                            <li>Enterprise Data Glossary - custom term definitions can be added and linked to content</li>
                            <li>Usability - Fully searchable - users can find all publicly available content - Native favoriting and sharing - Webapp is embeddable and works in common browsers - Request access forms - Single sign on for all system users</li>
                            <li>Excellent Search - Full Text Index on most fields - SQL is searchable - Search filters</li>
                            <li>Reports, editors and record viewers can be launched directly from Atlas</li>
                            <li>Recommended reports based on users interests</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hero-body hero-two">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h1 class="title">Is there a demo?</h1>
                    <h2>Yes!</h2>
                    <p>The demo runs with docker. You can run it on <a href="http://labs.play-with-docker.com/">Play With Docker</a>, or locally.</p>
                    <pre><code class="language-shell">docker run -i -t -p 1234:1234 -e PORT=1234  -u 0 christopherpickering/rmc-atlas-demo:latest</code></pre>
                    <p>For more tips on running a demo please take a look in the <a href="https://docs.atlas.bi/atlas/demo.html">docs</a>.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}