<nav class="navbar atlas-nav" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/">
                <img src="/static/img/icon_120.png" width="45" height="45" style="margin-bottom:-2px;">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="atlas-nav-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="atlas-nav-menu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/about">
                    About
                </a>
                <a class="navbar-item" href="/pricing">
                    Pricing
                </a>
                <a class="navbar-item" href="https://docs.atlas.bi" target="_blank">
                    Documentation
                </a>
            </div>
        </div>
    </div>
</nav>