
$link-hover:hsl(207, 61%,  53%);
$link: hsl(207, 61%,  53%);


@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-pricingtable/src/sass/index";
@import "../../../node_modules/prismjs/themes/prism";
@import "../../../node_modules/@creativebulma/bulma-collapsible/src/sass/index";

$fontDir: "/static/font/inter/";
@import "../../../node_modules/@fontsource/inter/scss/mixins";

@include fontFace(
  $fontName: Inter,
  $weight: 400,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/static/font/inter/files/"
);

@include fontFace(
  $fontName: Inter,
  $weight: 600,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/static/font/inter/files/"
);

@include fontFace(
  $fontName: Inter,
  $weight: 700,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: "/static/font/inter/files/"
);

html {
  height: 100%;
}

body {
  font-family: "Inter", Arial, Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.atlas-nav {
  padding-left: 15px;
}

.atlas-nav img {
  width: 130px !important;
  height: 40px !important;
  margin-top: 6px;
  margin-bottom: -2px;
}

.is-flex-widescreen {
  display:none !important;
}
@media screen and (min-width: $widescreen) {
  .atlas-nav {
    padding: 15px 0;
  }

  .atlas-nav img {
    width: 182px !important;
    height: 56px !important;
  }

  .is-flex-widescreen {
    display: flex !important;
  }
}

a.navbar-item:hover {
  background: transparent;
}

.hero-body {
  background-color: rgba(167, 200, 204, 0.7);
}

.hero-two {
  background-color: rgba(0, 68, 106, 0.08);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}


/* fix for prism in bulma */
pre .number {
  background-color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  height: inherit;
  min-width: inherit;
  text-align: inherit;
  vertical-align: inherit;
}

.navbar-item.button {
  margin: 13px;
}

a.discord img {
  width:33px;
  margin-top:3px;
}

a.github img {
  width:25px;
}

/* comparison */
.plan-item .icon {
  height:auto;
}
.plan-item .icon svg {
  height:15px;
  width:15px
}

.pricing-table .pricing-plan .plan-group {
  align-content: center;
  background-color: #fff;
  color: #4a4a4a;
  font-size: $size-6;
  font-weight: 600;
  padding: .75em;
  text-align: center;
}

.pricing-table .pricing-plan .plan-header {
  font-size: $size-6;
}


/* search */
#search-form .icon svg {
  height:1.2rem;
}

#search-results {
  position:absolute;
  top:70px;
  left:0;
  right:0;
  display:none;
  border-radius: $radius
}

#search-results:empty {
  display: none !important;
}


#search:focus  {
  border-color: $info;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
}
#search:active {
  border-color: $info;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
}

#search-wrap:focus-within #search-results
{
  display:block;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
  border: 1px solid $info;
}

#search-results:active {
  display:block;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
  border: 1px solid $info;
}

#search-results .panel-block:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#search-results em {
  background-color: $info-light;
  color: $info;
}

// tabs

.tab-container {
  @extend %block
}
.tab-container .tab {
  display:none
}

.tab-container .tab.is-active {
  display:initial;
}

// admonitions
.message-header .icon svg {
  height:$size-6;
  padding-right:10px;
}

.message.note {
  border-width:$message-body-border-width;
  border-style:solid;
  border-color: $info;
  background-color:$white;
  padding:0;
}
.message.hint {
  border-width:$message-body-border-width;
  border-style:solid;
  border-color: $success;
  background-color:$white;
  padding:0;
}
.message.alert {
  border-width:$message-body-border-width;
  border-style:solid;
  border-color: $danger;
  background-color:$white;
  padding:0;
}
.message.note .message-header {
  color:$text;
  background-color:$info-light;
}

.message.hint .message-header {
  color:$text;
  background-color:$success-light;
}

.message.alert .message-header {
  color:$text;
  background-color:$danger-light;
}

.message.note .message-body,
.message.hint .message-body,
.message.alert .message-body {
  color:$text;
}

.image.is-35x35 {
  height: 35px;
  width: 35px;
}
/* menu collapse */

.is-collapsible:not(.is-active) {
  height:0;
  margin-top:0;
  margin-bottom:0;
}

.menu li {
  position: relative;
}

.menu-collapse-arrow + .menu-collapse {
  padding-right:36px;
}
.menu-collapse-arrow {
  position:absolute;
  right:0;
  top:0;
  padding:0px !important;
  width:36px;
  height:36px;
  border-top-left-radius:0 !important;
  border-top-right-radius:0 !important;
}
.menu-collapse-arrow .icon {
  width:100%;
  height:100%;
}
.menu-collapse-arrow svg {
  height:1rem;
}

pre {
  margin-bottom: 1.5rem !important;
}
