$link-hover: hsl(207, 61%, 53%);
$link: hsl(207, 61%, 53%);

@import '../../../node_modules/bulma/bulma';
@import '../../../node_modules/bulma-pricingtable/src/sass/index';
@import '../../../node_modules/@creativebulma/bulma-divider/src/sass/index';

$fontDir: '/static/font/inter/';
@import '../../../node_modules/@fontsource/inter/scss/mixins';

$use-all: true;
$use-slideInDown: true;
@import '../../../node_modules/animate-sass/animate';

@import '../font/fontawesome/stylesheet';

/* purgecss start ignore */

pre .tag {
  align-items: unset;
  background-color: unset;
  border-radius: unset;
  color: unset;
  display: unset;
  font-size: unset;
  height: unset;
  justify-content: unset;
  line-height: unset;
  padding-left: unset;
  padding-right: unset;
  white-space: unset;
}
@import '../../../node_modules/prismjs/themes/prism';

@include fontFace(
  $fontName: Inter,
  $weight: 400,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: '/static/font/inter/files/'
);

@include fontFace(
  $fontName: Inter,
  $weight: 600,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: '/static/font/inter/files/'
);

@include fontFace(
  $fontName: Inter,
  $weight: 700,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: '/static/font/inter/files/'
);

$fontDir: '/static/font/rasa/';
@import '../../../node_modules/@fontsource/rasa/scss/mixins';

@include fontFace(
  $fontName: Rasa,
  $weight: 500,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: '/static/font/rasa/files/'
);

@include fontFace(
  $fontName: Rasa,
  $weight: 600,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: '/static/font/rasa/files/'
);

@include fontFace(
  $fontName: Rasa,
  $weight: 700,
  $display: swap,
  $unicodeMap: latin,
  $fontDir: '/static/font/rasa/files/'
);

html {
  height: 100%;
}

body {
  font-family: 'Inter', Arial, Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.title {
  font-family: 'Rasa', Georgia, 'Times New Roman', Times, serif;
}

.atlas-nav {
  padding-left: 15px;
}

.atlas-nav .navbar-brand img {
  width: 130px !important;
  height: 40px !important;
  margin-top: 6px;
  margin-bottom: -2px;
}

.is-flex-widescreen {
  display: none !important;
}
@media screen and (min-width: $widescreen) {
  .atlas-nav {
    padding: 15px 0;
  }

  .atlas-nav .navbar-brand img {
    width: 182px !important;
    height: 56px !important;
  }

  .is-flex-widescreen {
    display: flex !important;
  }
}

a.navbar-item:hover,
a.navbar-link:hover,
.navbar-item.has-dropdown:hover .navbar-link {
  background: transparent;
}

.hero-body {
  background-color: rgba(167, 200, 204, 0.7);
}

.hero-two {
  background-color: rgba(0, 68, 106, 0.08);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

/* fix for prism in bulma */
pre .number {
  background-color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  height: inherit;
  min-width: inherit;
  text-align: inherit;
  vertical-align: inherit;
}

.navbar-item.button {
  margin: 13px;
}

.mail-icon > img {
  margin-top: 3px;
}
/* comparison */
.plan-item .icon {
  height: auto;
}
.plan-item .icon svg {
  height: 15px;
  width: 15px;
}

.pricing-table .pricing-plan .plan-group {
  align-content: center;
  background-color: #fff;
  color: #4a4a4a;
  font-size: $size-6;
  font-weight: 600;
  padding: 0.75em;
  text-align: center;
}

.pricing-table .pricing-plan .plan-header {
  font-size: $size-6;
}

/* search */
#search-form .icon svg {
  height: 1.2rem;
}

#search-results {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  display: none;
  border-radius: $radius;
}

#search-results:empty {
  display: none !important;
}

#search:focus {
  border-color: $info;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
}
#search:active {
  border-color: $info;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
}

#search-wrap:focus-within #search-results {
  display: block;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
  border: 1px solid $info;
}

#search-results:active {
  display: block;
  box-shadow: $input-focus-box-shadow-size bulmaRgba($info, 0.25);
  border: 1px solid $info;
}

#search-results .panel-block:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#search-results em {
  background-color: $info-light;
  color: $info;
}

// tabs

.tab-container {
  @extend %block;
}
.tab-container .tab {
  display: none;
}

.tab-container .tab.is-active {
  display: initial;
}

// admonitions
.message-header .icon svg {
  height: $size-6;
  padding-right: 10px;
}

.message.note {
  border-width: $message-body-border-width;
  border-style: solid;
  border-color: $info;
  background-color: $white;
  padding: 0;
}
.message.hint {
  border-width: $message-body-border-width;
  border-style: solid;
  border-color: $success;
  background-color: $white;
  padding: 0;
}
.message.alert {
  border-width: $message-body-border-width;
  border-style: solid;
  border-color: $danger;
  background-color: $white;
  padding: 0;
}
.message.note .message-header {
  color: $text;
  background-color: $info-light;
}

.message.hint .message-header {
  color: $text;
  background-color: $success-light;
}

.message.alert .message-header {
  color: $text;
  background-color: $danger-light;
}

.message.note .message-body,
.message.hint .message-body,
.message.alert .message-body {
  color: $text;
}

.image.is-35x35 {
  height: 35px;
  width: 35px;
}
/* menu collapse */

.is-collapsible,
.is-collapsible.is-active {
  transition: max-height 0.2s ease-out;
}

.is-collapsible {
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.is-collapsible-menu {
  height: 0;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}
.is-collapsible-menu.is-active {
  height: auto;
}

.is-collapsible-menu:not(.is-active) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.is-collapsible-menu .is-collapsible-menu {
  margin-bottom: 0 !important;
}
.menu .menu-label {
  font-weight: 600;
  font-size: unset;
  color: $grey-dark;
}

.menu li a {
  position: relative;
  padding-left: 20px;
}

.menu li a.is-active {
  background: unset;
  color: unset;
  font-weight: 700;
}

.menu li.head > a {
  font-weight: 600;
}

.menu-list li.head ul {
  margin-left: 3px;
  padding-left: 20px;
}

.menu-list a:hover,
.menu li a:hover {
  background-color: unset;
}

.menu li a:before {
  position: absolute;
  display: block;
  margin-right: 18px;
  margin-left: -18px;
  content: '';
}

.menu li a:not([data-action='collapse-menu']):before {
  height: 4px;
  width: 4px;
  border-radius: 4px;
  background: $grey;
  top: calc(50% - 2px);
}

.menu li a[data-action='collapse-menu']:before {
  border: 2px solid $grey-light;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  height: 7px;
  margin-top: -0.4375em;
  transform-origin: 3px 4px;
  width: 7px;
  transition: transform 0.2s;
  transform: rotate(-135deg);
  top: calc(50% + 3px);
  margin-left: -19px;
}
.menu li a.is-active[data-action='collapse-menu']:before {
  transform: rotate(-45deg);
  transition: transform 0.2s;
}

pre {
  margin-bottom: 1.5rem !important;
}

.column:not(.is-narrow) {
  min-width: 0px;
}

.is-inlineblock {
  display: inline-block !important;
}

.is-radius > img {
  border-radius: $radius;
}

.hero.is-white .hero-body {
  background-color: $white;
}

.hero {
  position: relative;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.3;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.background > img {
  min-height: 100%;
  min-width: 100%;
  width: unset;
  max-width: unset;
}

.has-arrow {
  position: relative;
}
.has-arrow::after {
  border: 3px solid $link;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
  right: 1.125em;
}

.title {
  color: $grey-darker;
}
@media screen and (min-width: $tablet) {
  .is-sticky {
    position: sticky;
    top: 36px;
    bottom: 0;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
  }
}
@media screen and (min-width: $desktop) {
  .navbar.is-transparent a.is-info.navbar-item:hover {
    background-color: $info-dark !important;
  }
}

.is-256x256 {
  max-height: 256px;
  max-width: 256px;
}

.animated[data-animate] {
  visibility: hidden;
}

.navbar-item .media img {
  max-height: unset !important;
}

.icon.is-5x {
  height: 6rem;
  width: 6rem;
}

/* purgecss end ignore */

.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: 0.375rem 1rem;
  }
}
