<div class="hero-body hero-two" id="demo">
    <div class="container">
        <div class="block">
            <h2 class="title is-2">Is there a demo? Yes!</h2>
            <p class="subtitle">
                Atlas BI Library has live demo, test it out and see if it works for you!
            </p>
            <a class="button is-info is-medium is-family-sans-serif"
               href="https://demo.atlas.bi"
               target="_blank"
               rel="noopener">
                <span class="icon">
                    <i class="fas fa-share"></i>
                </span>
                <span>Launch the demo</span>
            </a>
        </div>
        <div class="block">
            <h3 class="title is-3">User Web Presentation</h3>
            <div class="video_wrapper" style="padding:56% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/659016594?h=898e42eb2a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen
                        style="position:absolute;
                               top:0;
                               left:0;
                               width:100%;
                               height:100%;"
                        title="Demo 02 12 2021.mp4"></iframe>
            </div>
        </div>
        <div class="block">
            <h3 class="title is-3">HDAA Presentation</h3>
            <div class="video_wrapper" style="padding:44% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/500220637?h=898e42eb2a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen
                        style="position:absolute;
                               top:0;
                               left:0;
                               width:100%;
                               height:100%;"
                        title="Demo 02 12 2021.mp4"></iframe>
            </div>
        </div>
    </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
