<div class="hero-body hero-two" id="demo">
    <div class="container">
        <div class="block">
            <h2 class="title is-2">Is there a demo? Yes!</h2>
            <p class="subtitle">
                Atlas BI Library has live demo, test it out and see if it works for you!
            </p>
            <a class="button is-info is-medium is-family-sans-serif"
               href="https://demo.atlas.bi"
               target="_blank"
               rel="noopener">
                <span class="icon">
                    <i class="fas fa-share"></i>
                </span>
                <span>Launch the demo</span>
            </a>
        </div>
        <div class="block">
            <h3 class="title is-3">July 2022 HDAA Presentation</h3>

            <div class="video_wrapper" style="padding:56% 0 0 0;position:relative;">
                <iframe title="Atlas Demo, July 2022 | Dan Ryan" 
                        src="https://video.atlas.bi/videos/embed/b658396f-ad35-46e8-be02-a521b5a5afdf?peertubeLink=0"
                        frameborder="0"
                        allowfullscreen=""
                        allow="autoplay; fullscreen; picture-in-picture"
                        sandbox="allow-same-origin allow-scripts allow-popups"
                        style="position:absolute;
                               top:0;
                               left:0;
                               width:100%;
                               height:100%;">
                        </iframe>
            </div>
        </div>

    </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
