
<div class="hero-body" id="gallery">
    <div class="container">
        <h2 class="title is-2">What does it look like?</h2>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="parameters">
                    {% image "./src/static/img/bi-library/web/atlas-parameters.png", "parameters", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="parameters">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-parameters.png", "parameters", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>

            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="security">
                    {% image "./src/static/img/bi-library/web/atlas-security.png", "security", "(min-width:800px) 50vw, 100vw" %}
                </div>
                 <div class="modal" id="security">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-security.png", "security", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="security-2">
                    {% image "./src/static/img/bi-library/web/atlas-security-2.png", "security details", "(min-width:800px) 50vw, 100vw" %}
                </div>
                 <div class="modal" id="security-2">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-security-2.png", "security-2", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="tasks">
                    {% image "./src/static/img/bi-library/web/atlas-tasks.png", "Atlas tasks", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="tasks">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-tasks.png", "tasks", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="analytics">
                    {% image "./src/static/img/bi-library/web/atlas-analytics.png", "Atlas analytics", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="analytics">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-analytics.png", "analytics", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="home">
                    {% image "./src/static/img/bi-library/web/atlas-home.png", "Atlas home", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="home">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-home.png", "home", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="mail">
                    {% image "./src/static/img/bi-library/web/atlas-mail.png", "Atlas mail", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="mail">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-mail.png", "mail", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="report">
                    {% image "./src/static/img/bi-library/web/atlas-report.png", "report", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="report">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-report.png", "report", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="report-2">
                    {% image "./src/static/img/bi-library/web/atlas-report-2.png", "report details", "(min-width:800px) 50vw, 100vw" %}
                </div>
                 <div class="modal" id="report-2">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-report-2.png", "report-2", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="report-editor">
                    {% image "./src/static/img/bi-library/web/atlas-report-editor.png", "report editor", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="report-editor">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-report-editor.png", "report-editor", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="report-editor-2">
                    {% image "./src/static/img/bi-library/web/atlas-report-editor-2.png", "editor details", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="report-editor-2">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-report-editor-2.png", "report-editor-2", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="report-profile">
                    {% image "./src/static/img/bi-library/web/atlas-report-profile.png", "report profile", "(min-width:800px) 50vw, 100vw" %}
                </div>
                <div class="modal" id="report-profile">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-report-profile.png", "report-profile", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="report-profile-2">
                    {% image "./src/static/img/bi-library/web/atlas-report-profile-2.png", "report profile tab two", "(min-width:800px) 50vw, 100vw" %}
                </div>
                 <div class="modal" id="report-profile-2">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-report-profile-2.png", "report-profile-2", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="term">
                    {% image "./src/static/img/bi-library/web/atlas-term.png", "Atlas terms", "(min-width:800px) 50vw, 100vw" %}
                </div>
                 <div class="modal" id="term">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-term.png", "term", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="terms">
                    {% image "./src/static/img/bi-library/web/atlas-terms.png", "Atlas terms", "(min-width:800px) 50vw, 100vw" %}
                </div>
                 <div class="modal" id="terms">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-terms.png", "terms", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box modal-button animated" data-animate="fadeInUp" data-target="user-2">
                    {% image "./src/static/img/bi-library/web/atlas-user-2.png", "Atlas user profile", "(min-width:800px) 50vw, 100vw" %}
                </div>
                 <div class="modal" id="user-2">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <p class="image">
                      {% image "./src/static/img/bi-library/web/atlas-user-2.png", "user-2", "(min-width:1200px) 50vw, 100vw" %}
                    </p>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">

                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">

                </div>
            </div>
        </div>
    </div>
</div>
