<div class="hero-body" id="integrations">
    <div class="container">
        <h2 class="title is-2">What Integrates?</h2>
        <p class="subtitle">
            There are many integrations that work out of the box, here's a few examples!
        </p>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child animated box bd-notification has-background-white-bis has-text-centered"
                     data-animate="slideInLeft">
                    <h4 class="title is-3 my-5">SAP Crystal Reports</h4>
                    <figure class="image is-96x96 mx-auto">
                        {% image "./src/static/img/sap.png", "sap icon", "(min-width:128px) 50vw, 100vw" %}
                    </figure>
                    <p class="subtitle my-5">
                        Crystal report metadata - including SQL queries - are loaded and fully searchable. Recent report run output can be downloaded directly!
                    </p>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child animated box bd-notification has-background-white-bis has-text-centered"
                     data-animate="slideInRight">
                    <h4 class="title is-3 my-5">Tableau Content</h4>
                    <figure class="image is-96x96 mx-auto">
                        {% image "./src/static/img/Tableau.png", "tableau icon", "(min-width:128px) 50vw, 100vw" %}
                    </figure>
                    <p class="subtitle my-5">
                        Dashboard, worksheets, user profiles, usage information and more make the Tableau integration fairly seamless.
                    </p>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child animated box bd-notification has-background-white-bis has-text-centered"
                     data-animate="slideInLeft">
                    <h4 class="title is-3 my-5">SSRS Reports</h4>
                    <figure class="image is-96x96 mx-auto">
                        {% image "./src/static/img/SSRS.png", "ssrs icon", "(min-width:128px) 50vw, 100vw" %}
                    </figure>
                    <p class="subtitle my-5">
                        Atlas BI Library functionality take you directly into SSRS report runs, and even can directly launch the report editor or manager! Like other reports integrations, the usage data and raw queries are always loaded.
                    </p>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child animated box bd-notification has-background-white-bis has-text-centered"
                     data-animate="slideInRight">
                    <h4 class="title is-3 my-5">Epic</h4>
                    <figure class="image is-96x96 mx-auto">
                        {% image "./src/static/img/epic.png", "epic icon", "(min-width:128px) 50vw, 100vw" %}
                    </figure>
                    <p class="subtitle my-5">
                        Seamless integration with Epic, and Epic content, makes Atlas BI Library an excellent fit. Advanced report sharing and controls are huge.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
