<h2 class="text-slate-900 text-4xl tracking-tight font-extrabold sm:text-5xl dark:text-white text-center py-10">
    What does it look like?
</h2>
{% set images = [
    {
        "url": "./src/static/img/hub/dashboard.png",
        "alt": "Dashboard"
    },
    {
        "url": "./src/static/img/hub/my_projects.png",
        "alt": "My Projects"
    },
    {
        "url": "./src/static/img/hub/new_project.png",
        "alt": "New Project"
    },
    {
        "url": "./src/static/img/hub/my_tasks.png",
        "alt": "My Tasks"
    },
    {
        "url": "./src/static/img/hub/task.png",
        "alt": "Task Details"
    },
    {
        "url": "./src/static/img/hub/admin.png",
        "alt": "Admin"
    }
] %}
<div class="grid grid-cols-1 gap-6 lg:gap-8 md:grid-cols-2 lg:grid-cols-3 max-lg:hidden">
    <ul class="space-y-8">
        {% set group = "1" %}
        {% asyncEach img in images %}
            <li class="text-sm leading-6">{% include 'src/_includes/components/imageSmall.njk' %}</li>
            {% if  loop.index % ((images.length / 3) | round)  == 0 %}
            </ul>
            <ul class="space-y-8">
            {% endif %}
        {% endeach %}
    </ul>
</div>
<div class="grid grid-cols-1 gap-6 lg:gap-8 md:grid-cols-2 lg:grid-cols-2 lg:hidden">
    <ul class="space-y-8">
        {% set group = "2" %}
        {% asyncEach img in images %}
            <li class="text-sm leading-6">{% include 'src/_includes/components/imageSmall.njk' %}</li>
            {% if  loop.index % ((images.length / 2) | round)  == 0 %}
            </ul>
            <ul class="space-y-8">
            {% endif %}
        {% endeach %}
    </ul>
</div>
{% set docsUrl = library.docs %}
{% include 'src/_includes/components/openDocs.njk' %}
