<div class="hero-body hero-two" id="demo">
    <div class="container">
        <div class="block">
            <h2 class="title is-2">Is there a demo? Yes!</h2>
            <p class="subtitle">
                Atlas Automation Hub has live demo, test it out and see if it works for you! Don't worry about changing settings, it resets nightly.
            </p>
            <a class="button is-info is-medium is-family-sans-serif"
               href="https://atlas-hub.atlas.bi"
               target="_blank"
               rel="noopener">
                <span class="icon">
                    <i class="fas fa-share"></i>
                </span>
                <span>Launch the demo</span>
            </a>
        </div>
    </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
