---
layout: layout.njk
title: BI Library | Atlas
description: Atlas BI Library, a unified report library. This business intelligence library plugs in to your existing reporting platforms, extracts useful metadata.
keywords: atlas bi library, unified report library, data governance, consolidated report library, report library documentation, documentation database
date: git Last Modified
eleventyComputed:
    meta:
        breadcrumbs:
            - name: Atlas
              url: "{{ site.url }}"
              position: 1
        video:
            - name: Atlas UserWeb Presentation
              datePublished: '02-12-2021'
              description: Learn about the data governance features, how the tool can be embedded and find you reports.
              caption: Introduction to Atlas BI Library.
              thumbnailUrl: "{{ site.url}}/static/img/atlas-home.png"
              duration: "PM56S13"
              embedUrl: https://player.vimeo.com/video/659016594?h=898e42eb2a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479
              contentUrl: https://player.vimeo.com/video/659016594?h=898e42eb2a
              dateCreated: "02-21-2022"
              author:
               - name: Dan Ryan
              keywords: "{{ keywords }}"
              teaches: How Atlas can help with data governance. How to use Atlas BI Library.
            - name: Atlas HDAA Presentation
              datePublished: '12-09-2020'
              description: Learn about the data governance features, how the tool can be embedded and find you reports.
              caption: Introduction to Atlas BI Library.
              thumbnailUrl: "{{ site.url}}/static/img/atlas-home.png"
              duration: "PM39S34"
              embedUrl: https://player.vimeo.com/video/500220637?h=898e42eb2a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479
              contentUrl: https://player.vimeo.com/video/659016594?h=898e42eb2a
              dateCreated: "02-21-2022"
              author:
                 - name: Dan Ryan
              keywords:  "{{ keywords }}"
              teaches: How Atlas can help with data governance. How to use Atlas BI Library.
    type: page
---
{% block body %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column animated fadeIn">
                    <h1 class="is-1 has-text-weight-light" id="bi-library">{{ bi_library.name }}</h1>
                    <p class="subtitle mt-1">
                        {{ bi_library.short_description }}
                    </p>
                    <div class="content">
                        <div class="block">{{ bi_library.description }}</div>
                    </div>
                    <a class="button is-large is-outlined is-transparent" href="/help" style="height:auto;">
                        <span class="office-hours-countdown_title mr-1">Join office hours in</span><span class="office-hours-countdown is-flex"></span>
                    </a>
                </div>
                <div class="column">
                    <div class="content">
                        <figure class="image is-radius animated fadeInDown">
                            {% image "./src/static/img/atlas-home.png", "atlas home page", "(min-width:600px) 50vw, 100vw", "asdf", "eager", "auto" %}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "bi-library/features.njk" %}
    {% include "bi-library/integrations.njk" %}
    {% include "bi-library/demo.njk" %}
    {% include "bi-library/alternate_tools.njk" %}
    {% include "bi-library/gallery.njk" %}
{% endblock body %}
