---
layout: layout.njk
title: Documentation | Atlas
description: Learn about how to install and configure Atlas BI Library and Atlas Automation Hub in the Atlas Documentation. Find answers for common questions.
---

{% block body %}
    <section class="section is-flex-grow-1">
        <div class="container">
            <h1 class="title is-1">Documentation</h1>
            Welcome to Atlas. well maintained and easy to setup. Get to know them by exploring our documentation.
            <div class="columns pt-5">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                <a title="Atlas BI Library" href="/docs/bi-library" class="is-size-4">{{ bi_library.name }}</a>
                            </p>
                            <p class="subtitle">
                                {{ bi_library.short_description }}
                            </p>
                            <p>
                                {{ bi_library.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                <a title="Atlas BI Library" href="/docs/automation-hub" class="is-size-4">{{ automation_hub.name }}</a>
                            </p>
                            <p class="subtitle">
                                {{ automation_hub.short_description }}
                            </p>
                            <p class="block">
                                {{ automation_hub.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
