---
layout: layout.njk
title: Atlas » Documentation
description: Learn about how to install and configure Atlas BI Library and Atlas Automation Hub in the Atlas Documentation. Find answers for common questions.
---

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Documentation</h1>
            Welcome to Atlas. Our tools are powerful, well maintained and easy to setup. Get to know them by exploring our documentation.
            <div class="columns pt-5">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                <a href="/docs/bi-library" class="is-size-4">Atlas BI Library</a>
                            </p>
                            <p class="subtitle">
                                The unified report library.
                            </p>
                            <p>
                                Atlas business intelligence library plugs in to your existing reporting platforms, extracts useful metadata, and displays it in a unified report library where you can easily search for, document, and launch reports.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                <a href="/docs/automation-hub" class="is-size-4">Atlas Automation Hub</a>
                            </p>
                            <p class="subtitle">
                                A simple extract, batch job and script scheduler.
                            </p>
                            <p class="block">
                                Schedule tasks scheduling tool for getting data from a source and depositing it in a destination - sql servers to SFTP servers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
