---
layout: siteLayout.njk
title: Get help installing Atlas Business Intelligence tools
description: Get help your Atlas install. There is a community of dedicated Atlas users to help you.
keywords: atlas, atlas library, atlas automation hub, report library, data governance, contact, data governance help, atlas community
date: git Last Modified
eleventyComputed:
  meta:
    breadcrumbs:
      - name: Atlas
        url: "{{ site.url }}"
        position: 1
---
<section class="grow">
    <div class="mx-auto container space-y-6">
        <div class="relative max-w-5xl mx-auto pt-10 sm:pt-24 lg:pt-32">
            <h1 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-white">
                we can help.
            </h1>
            <p class="mt-6 text-lg text-slate-600 text-center max-w-3xl mx-auto dark:text-slate-400">
                There is a community of dedicated Atlas users to help you.
            </p>
        </div>
        <div class="max-w-2xl mx-auto space-y-6 pb-10">
            <div>
                <h2 class="font-semibold text-slate-900 dark:text-slate-100">Office Hours</h2>
                <p class="mt-3">Ask us about joining the bi-weekly office hours on Friday's at 9:00-10:00 AM CST.</p>
            </div>
            <div>
                <h2 class="font-semibold text-slate-900 dark:text-slate-100">Chat</h2>
                <p class="mt-3">
                    <a class="text-sky-700 underline" href="https://discord.gg/hdz2cpygQD">Join the chat on Discord</a>
                </p>
            </div>
            <div class="space-y-4">
                <h2 class="font-semibold text-slate-900 dark:text-slate-100">Send an email</h2>
                {% if site.emails.dan %}
                <div>
                    <ul class="list-disc ml-4">
                        <li>can I see a demo?</li>
                        <li>is Atlas right for me?</li>
                    </ul>
                    ask
                    <a class="text-sky-700 underline" href="mailto:{{ site.emails.dan }}">Dan Ryan</a>
                    - {{ site.emails.dan }}
                </div>
                {% endif %}
                {% if site.emails.christopher %}
                <div>
                    <ul class="list-disc ml-4">
                        <li>need technical help?</li>
                        <li>want to contribute?</li>
                    </ul>
                    ask
                    <a class="text-sky-700 underline" href="mailto:{{ site.emails.christopher }}">Christopher Pickering</a>
                    - {{ site.emails.christopher }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
