---
layout: layout.njk
title: Get Help | Atlas
description: Get help your Atlas install. There is a community of dedicated Atlas users to help you.
---

{% block body %}
    <div class="hero-body">
        <div class="container">
            <h1 class="mb-3">we can help.</h1>
            <h4 class="mb-5 pb-5">There is a community of dedicated Atlas users to help you. <a href="https://discord.gg/hdz2cpygQD">Join the chat!</a></h4>
            <div class="columns">
                <div class="column is-two-fifth">
                    <h2 class="pb-3">Send an email</h2>
                    <div class="block">Want to...</div>
                    <div class="block">
                        request a demo?
                        <br />
                        is Atlas right for me?
                        <br />
                        ask
                        <a href="mailto:dan@atlas.bi">Dan Ryan</a>
                        - dan@atlas.bi
                    </div>
                    <div class="block">
                        need technical help?
                        <br />
                        want to contribute?
                        <br />
                        ask
                        <a href="mailto:christopher@atlas.bi">Christopher Pickering</a>
                        - christopher@atlas.bi
                    </div>
                </div>
                <div class="column is-three-fifths box">
                    <h2 class="pb-3">Send an online form</h2>
                    <form name="contact" method="POST" data-netlify="true" >
                        <div class="columns is-desktop">
                            <div class="column">
                                <div class="field">
                                    <label class="label" for="name">Name</label>
                                    <div class="control">
                                        <input class="input" type="text" name="name" id="name" />
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label" for="email">Email</label>
                                    <div class="control">
                                        <input class="input" type="text" name="email" id="email" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="subject">Subject</label>
                            <div class="control">
                                <input class="input" type="text" name="subject" id="subject" />
                            </div>
                        </div>
                        <div class="field mb-5">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" name="body" rows="5" cols="35"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="button"
                                        onclick="this.closest('form').submit();this.closest('form').reset();return !1;"
                                        class="button is-info is-fullwidth">
                                    Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
