---
layout: layout.njk
---

{% block body %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column animated fadeIn">
                    <h1>
                        it's called
                        <strong>Atlas</strong>
                    </h1>
                    <p class="subtitle">
                        Analytics solutions for healthcare
                        <br />
                        <br />
                        By healthcare professionals, for healthcare professionals.
                    </p>
                </div>
                <div class="column">
                <figure class="image animated fadeInDown">
                    {% image "./src/static/img/report_group.png", "atlas information sources", "(min-width:600px) 50vw, 100vw", "asdf", "eager", "auto" %}
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <section class="hero is-medium is-white">
        <div class="hero-body">
        <div class="container">
        <h2 class="title is-2 mb-5 pb-5" id="bi-library">{{ bi_library.name }}<a href="/bi-library" class="button is-medium is-info is-pulled-right is-family-sans-serif">Find out more!</a></h2>
            <div class="columns">
                <div class="column">
                    <p class="subtitle mt-1">
                        {{ bi_library.short_description }}
                    </p>
                    <div class="content">
                        <div class="block">
                            {{ bi_library.description }}
                        </div>
                    </div>
                </div>
                <div class="column is-two-fifths is-vcentered">
                    <div class="box">
                          <figure class="image">
                            {% image "./src/static/img/atlas-home.png", "atlas home page", "(min-width:1200px) 50vw, 100vw" %}
                          </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
<section class="hero is-medium hero-two">
    <div class="hero-body">
    <figure class="image background">
        {% image "./src/static/img/people_together.jpg", "people collaborating", "(min-width:1200px) 50vw, 100vw" %}
    </figure>
    <div class="container">
        <h2 class="title is-2 has-text-centered mb-5">Join the community!</h2>
        <div class="columns is-centered mt-5">
        <div class="column is-one-quarter animated" data-animate="slideInLeft">
            <div class="box bd-notification has-background-white-bis has-text-centered">
                <figure class="image is-96x96 mx-auto mb-5">
                    {% image "./src/static/img/github.png", "github icon", "(min-width: 100px) 50vw, 100vw" %}
                </figure>
                <h4 class="title is-3 my-5">Contribute to the code</h4>
                <p class="subtitle">Open issues, PRs, request features!</p>
                <a class="button is-info" href="https://github.com/atlas-bi" target="_blank" rel="noopener">Contribute!</a>
            </div>
        </div>
        <div class="column is-one-quarter animated" data-animate="slideInRight">
            <div class="box bd-notification has-background-white-bis has-text-centered">
                <figure class="image is-96x96 mx-auto mb-5">
                    {% image "./src/static/img/discord.png", "discord icon", "(min-width: 100px) 50vw, 100vw" %}
                </figure>
                <h4 class="title is-3 mt-5">Chat with us</h4>
                <p class="subtitle">Join us on our chat, ask questions, and get update notifications!</p>
                <a class="button is-info" href="https://discord.gg/hdz2cpygQD" target="_blank" rel="noopener">Join the chat!</a>
            </div>
        </div>
    </div>
    </div>
    </section>
    <section class="hero is-medium is-white">
        <div class="hero-body">
        <div class="container">
            <h2 class="title is-2 has-text-right mb-5 pb-5" id="bi-library">
                {{ automation_hub.name }}<a href="/automation-hub" class="button is-medium is-info is-pulled-left is-family-sans-serif">Find out more!</a>
            </h2>
            <div class="columns">
                <div class="column is-two-fifths is-vcentered">
                    <div class="box">
                      <figure class="image animated" data-animate="fadeInUp">
                            {% image "./src/static/img/automation-hub/dashboard.png", "atlas home page", "(min-width:1200px) 50vw, 100vw" %}
                      </figure>
                    </div>
            </div>
                <div class="column has-text-right">
                <p class="subtitle mt-1">
                    {{ automation_hub.short_description }}
                </p>
                    <div class="content">
                        <div class="block">
                            {{ automation_hub.description }}
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>

</section>
    </section>
    
{% endblock body %}
