---
layout: layout.njk
date: git Last Modified
eleventyComputed:
    meta:
      organization:
        name: Atlas
        url: "{{ site.url }}"
        logo: "{{ site.url }}{{ site.image }}"
        description: "{{ site.description }} Created by the Riverside Healthcare Analytics team."
        foundingDate: '2019'
        founders:
        - name: Dan Ryan
        - name: Christopher Pickering
        - name: Scott Manley
        - name: Sean Pickering
        - name: Madeline Matz
        - name: Richard Schissler
        - name: Eric Shultz
        - name: Darrel Drake
        - name: Dee Anna Hillebrand
        - name: Paula Courville
        address:
          addressLocality: Kankakee
          addressRegion: IL
          postalCode: '60901'
          addressCountry: USA
---
{% block body %}
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column animated fadeIn">
                    <h1>
                        it's called
                        <strong>Atlas</strong>
                    </h1>
                    <h2 class="subtitle">
                        Analytics solutions for healthcare
                        <br />
                        <br />
                        By healthcare professionals, for healthcare professionals.
                    </h2>
                    <a class="button is-large is-outlined is-transparent" href="/help" style="height:auto;">
                        <span class="office-hours-countdown_title mr-1">Join office hours in</span><span class="office-hours-countdown is-flex"></span>
                    </a>
                </div>
                <div class="column">
                    <figure class="image animated fadeInDown">
                        {% image "./src/static/img/report_group.png", "atlas information sources", "(min-width:600px) 50vw, 100vw", "asdf", "eager", "auto" %}
                    </figure>
                </div>
            </div>
        </div>
    </div>
    {%  include "home/bi-library.njk" %}
    {%  include "home/community.njk" %}
    {%  include "home/automation-hub.njk" %}
    {%  include "home/download.njk" %}
{% endblock body %}
