---
layout: siteLayout.njk
title: Library | Atlas Business Intelligence Tools
description: Atlas Library, a unified report library. This business intelligence library plugs in to your existing reporting platforms, extracts useful metadata.
keywords: atlas library, unified report library, data governance, consolidated report library, report library documentation, documentation database
date: git Last Modified
eleventyComputed:
    meta:
        breadcrumbs:
            - name: Atlas
              url: "{{ site.url }}"
              position: 1
        video:
            - name: July 2022 HDAA Presentation
              datePublished: '02-12-2021'
              description: Learn about the data governance features, how the tool can be embedded and find you reports.
              caption: Introduction to Atlas Library.
              thumbnailUrl: "{{ site.url}}/static/img/atlas-home.png"
              duration: "PM56S13"
              embedUrl: https://www.youtube.com/embed/bgIfW8iV338?si=CNZkjrh0gI_IUzAp&rel=0
              contentUrl: https://youtu.be/bgIfW8iV338
              dateCreated: "02-21-2022"
              author:
               - name: Dan Ryan
              keywords: "{{ keywords }}"
              teaches: How Atlas can help with data governance. How to use Atlas Library.
            - name: 0-100 Atlas Install
              datePublished: '26-11-2021'
              description: How to install Atlas Library, along with the metadata and search ETLs.
              caption: Installing the Atlas Library.
              thumbnailUrl: "{{ site.url}}/static/img/atlas-home.png"
              duration: "PM39S34"
              embedUrl: https://www.youtube.com/embed/eBc04w9SCcc?si=Rqh_aXhxxPJLFsqB&rel=0
              contentUrl: https://youtu.be/eBc04w9SCcc
              dateCreated: "02-21-2022"
              author:
                 - name: Dan Ryan
              keywords:  "{{ keywords }}"
              teaches: How Atlas can help with data governance. How to use Atlas Library.
    type: page
---
<section class="grow">
    <div class="mx-auto container space-y-6 ">
        {% include 'src/_includes/components/connect.njk' %}
        <h1 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-white">
            {{ library.name }}
        </h1>
        <p class="mt-6 text-lg text-slate-600 text-center max-w-3xl mx-auto dark:text-slate-400">
            {{ library.short_description }}
        </p>
        <div class="mx-auto prose text-center">{{ library.description }}</div>
        <figure class="animated-fade flex justify-center">
            {% image "./src/static/img/atlas-home.png", "atlas home page", "(min-width:600px) 90vw, 100vw", "asdf", "eager", "auto" %}
        </figure>
        {% include "library/features.njk" %}
        {% include "library/integrations.njk" %}
        {# {% include "library/demo.njk" %} #}
        {% include "library/gallery.njk" %}
        {% include "library/alternate_tools.njk" %}
    </div>
</section>
