---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: {{ site.url }}/help
Expires: {{ "2027-10-01T00:00:00.000Z" }}
Preferred-Languages: en
Canonical: {{ site.url }}/.well-known/security.txt
