---
permalink: /installers/hub.sh
eleventyExcludeFromCollections: true
---
#!/usr/bin/env bash
# Setup global variables.
APP=atlas-hub
SOURCE=https://api.github.com/repos/atlas-bi/Hub/tarball
# load config
NGINX_FILE="$APP.conf"
PM2_PREFIX="$APP"
if [[ -f "installer.conf" ]]; then
. installer.conf
fi
{% include "src/_includes/installer/colors.sh" %}
{% include "src/_includes/installer/check_commands.sh" %}
{% include "src/_includes/installer/port_tools.sh" %}
{% include "src/_includes/installer/nginx_tools.sh" %}
{% include "src/_includes/installer/hub/cli.sh" %}
